.vote-container
  - if user_signed_in? && !current_user.owner_of?(object)
    div class=(object.had_voted?(current_user) ? 'remove-btn' : 'hidden')
      = link_to vote_cancel_question_path(object), method: :PATCH, remote: true,
              class: 'btn-floating btn-small red remove-btn vote-link',
              id: "vote-cancel-#{object.id}",
              data: {type: :json, target: "#rating-#{object.id}"} do
        i.material-icons.right cancel

  .rating_val.new.badge id="rating-#{object.id}" = object.rate

  - if user_signed_in? && !current_user.owner_of?(object)
    = link_to vote_plus_question_path(object),
            method: :PATCH,
            remote: true,
            class: 'btn-floating btn-small vote_link',
            id: "vote-plus-#{object.id}",
            data: {type: :json, target: "#rating-#{object.id}"} do
      i.material-icons.right trending_up

    = link_to  vote_minus_question_path(object),
            method: :PATCH,
            remote: true,
            class: 'btn-floating btn-small vote_link',
            id: "vote-minus-#{object.id}",
            data: {type: :json, target: "#rating-#{object.id}"} do
      i.material-icons.right trending_down
