- if can? :modify, comment
  = button_to comment, method: :delete, remote: true,
          class: 'btn-floating red delete-comment-link', id: "delete-comment-#{comment.id}" do
    i.material-icons delete
