.fixed-action-btn style="bottom: 45px; right: 24px;" id="#{ local_assigns.fetch(:id, nil) }"
  button.btn-floating.btn-large.red.script-item-toggle data-target='#question_form'
    i.large.material-icons add
