default: &default
      adapter: postgresql
      encoding: unicode
      pool: 5
      username: <%= ENV['USERNAME'] %>
      password: <%= ENV['PASSWORD'] %>
      host:     <%= ENV['IP'] %>

development:
  <<: *default
  database: thinkenetica_development

test:
  <<: *default
  database: thinkenetica_test

production:
  <<: *default
  database: thinkenetica_production
