/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require devise_bootstrap_views
 */
@import "bootstrap-sprockets";
@import "bootswatch/cerulean/variables";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
$footer-space: 150px;

body {
  margin-bottom: $footer-space;
}

.header {
  margin-bottom: 2rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 1rem;
  /* Set the fixed height of the footer here */
  height: $footer-space;
  background-color: $navbar-inverse-bg;
}

.danger-block {
  position: relative;

  .close {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
  }
}


.translation_missing {
  font-weight: bold;
  color: $brand-danger;
}

textarea {
  resize: none;
}
// Utilites
.display {
  &__flex {
    display: flex;
    @media all and (max-width: $screen-sm-min) {
      flex-direction: column;
    }
  }
  &__block {
    display: block;
  }
  &__inline-block {
    display: inline-block;
  }
}
.page-header {
  margin-bottom: 2em;
}
// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";
